body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  font-family: 'Roboto';
}
form {
  background-color: #fee;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 20px;

}
input {
  width: 300px;
  height: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 10px;
  margin: 10px;
  font-size: 16px;

}
input[type="submit"] {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: 0px;
  padding: 0;
  background-color: #4285f4;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: #357ae8;
}

label {
  margin: 10px;
}
div {
  background-color: #fee;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
.answer {
  width: 300px;
  height: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
  margin: 10px;
  font-size: 16px;
}
